{% extends 'base.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="col-md-6" style="margin: auto">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Running Auction(s)</h5>
                        <p class="card-text">Total
                            <span style="font-weight: bolder;">{{ running.count }}</span>
                            Auction(s) are Active right now.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Total Value</h5>
                        <p class="card-text">Price of the running auction(s) is
                            <span style="font-weight: bolder">
                            {{ value.min_price__sum }}
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <div class="col-md-12">
        <div class="row" style="margin: auto">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Monthly Statistics
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Monthly Statistics
                    </div>
                    <div class="card-body">
                        <canvas id="myChart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ label }},
                datasets: [
                    {
                        label: 'Created product',
                        data: {{ created_product }},
                        backgroundColor: ['#F53C1F', '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D', '#2B971C', '#33E8DB',
                            '#201F1F', '#AC2AB9', '#34495E', '#F55C1F', '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D',
                            '#2B971C', '#33E8DB', '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D', '#2B971C', '#33E8DB',
                            '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D',],

                        borderWidth: 1
                    },
                    {
                        label: 'Completed Auctions',
                        data: {{ completed_auction }},
                        backgroundColor: ['#201F1F', '#AC2AB9', '#34495E', '#F55C1F', '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D',
                            '#F55C1F', '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D', '#2B971C', '#33E8DB',
                            '#29DEBF', '#29DE29', '#E73C77', '#514DDC', '#EFF92D', '#514DDC', '#EFF92D', '#2B971C', '#33E8DB',
                            '#2B971C', '#33E8DB', '#29DEBF', '#29DE29', '#E73C77',],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ label }},
                datasets: [{
                    label: 'Total Auction value by price',
                    data: {{ total_value }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}