{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br> <br>
    <div class="col-md-8" style="margin: auto">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Go to Admin Dashboard</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'admin-login' %}" class="btn btn-primary">Admin Login</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Login/Register as a User</h5>
                        <p class="card-text">If you have account, just Login. If you don't have any account, Enter details to
                        create account and Login</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Login Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}