{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="col-md-8" style="margin: auto">
        {% for product in products %}
            <div class="card">
                <div class="card-header" style="color: red; font-weight: bolder">
                    Minimum Bid Price: {{ product.min_price }}
                    <span style="float: right; color: black">
                    {{ product.end_date }}
                </span>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description | truncatewords:50 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ product.image.url }}" style="height: 210px; width: 210px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}